.bgImage {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -99;
  background: url('/background-technology-mobile.jpg') no-repeat center center
    fixed;
  background-size: cover;
}

.mainContent {
  width: 90vw;
  margin: 2.4rem auto 8.1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3.2rem;

  h1 {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 1.6rem;

    span {
      color: rgba(255, 255, 255, 0.25);
      font-weight: bold;
    }
  }
}

.technologyImage {
  margin-bottom: 3.4rem;
  width: 100vw;
  height: 17rem;
  position: relative;
}

.technologySelector {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;

  button {
    background: transparent;
    border: 0.1rem solid rgba(255, 255, 255, 0.25);
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    color: #fff;
    cursor: pointer;

    span {
      font-size: 1.6rem;
    }

    &.active {
      background: #fff;
      border-color: #fff;
      color: #000;
    }

    &:not(.active):hover {
      border-color: #fff;
    }
  }
}

.textContent {
  width: 90%;
  margin: 2.6rem auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  span {
    margin-bottom: 1rem;
    text-transform: uppercase;
    color: var(--gray);
  }

  h3 {
    margin-bottom: 1.6rem;
    text-transform: uppercase;
  }

  p {
    font-weight: 400;
    line-height: 2.5rem;
    text-align: center;
    color: var(--gray);
  }
}

@media (min-width: 658px) {
  .bgImage {
    background: url('/background-technology-tablet.jpg') no-repeat center center
      fixed;
    background-size: cover;
  }

  .mainContent {
    margin: 4rem auto 9.7rem;
    gap: 6rem;

    h1 {
      align-self: flex-start;
    }
  }

  .technologyImage {
    margin-bottom: 5.6rem;
    height: 31rem;
  }

  .technologySelector button {
    width: 6rem;
    height: 6rem;
  }

  .textContent {
    max-width: 45.8rem;
  }
}

@media (min-width: 1024px) {
  .bgImage {
    background: url('/background-technology-desktop.jpg') no-repeat center
      center fixed;
    background-size: cover;
  }

  .mainContent {
    margin: 7.6rem auto 16.5rem;
    overflow: visible;
  }

  .technologyImage {
    width: 51.5rem;
    height: 52.7rem;
    right: -5vw;
  }

  .technologyInfo {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-self: flex-start;
    align-items: center;
    justify-content: space-between;
  }

  .technologyContent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 8rem;
  }

  .technologySelector {
    flex-direction: column;

    button {
      width: 8rem;
      height: 8rem;

      span {
        font-size: 3.2rem;
      }
    }
  }

  .textContent {
    width: 47rem;
    margin: 0;

    align-items: flex-start;

    p {
      text-align: left;
    }
  }
}

@media (min-width: 1300px) {
  .mainContent h3 {
    white-space: nowrap;
  }
}

@media (min-width: 2560px) {
  .technologyInfo {
    justify-content: space-around;
  }
}
